hpppppppsfghjdg
<app-sons></app-sons>
<app-daughters></app-daughters>
<br>
<br>
<app-adds (ageCreatedAlias)="onAgeAdded($event)" (sonCreatedAlias)="onSonAdded($event)" (daughterCreatedAlias)="onDaughterAdded($event)"></app-adds>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-shows [aliasAge]="age"  *ngFor="let child of children" [aliasChild]="child">

<p #contentParagraph [ngStyle]="{backgroundColor: child.type == 'son' ? 'pink' : 'green'}">{{child.name}} age is {{age}}</p>
      </app-shows>

    </div>

  </div>

</div>
